services:
  konnektoren-vc:
    build:
      context: .
      dockerfile: Dockerfile
    image: ghcr.io/konnektoren/konnektoren-vc:latest
    environment:
      - PRIVATE_KEY=${PRIVATE_KEY:-"seed-phrase"}
      - ISSUER_URL=${ISSUER_URL:-"https://issuer.example.com"}
      - RUST_LOG=${LOG_LEVEL:-debug}
      - DOMAIN=${DOMAIN:-localhost}
      - ENABLE_TELEMETRY=${ENABLE_TELEMETRY:-false}
      - JAEGER_ENDPOINT=${JAEGER_ENDPOINT:-http://jaeger:14268/api/traces}
    #ports:
    #  - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  cloudflared:
    profiles:
      - cloudflare
    image: cloudflare/cloudflared:latest
    command: tunnel --no-autoupdate run --token ${CF_TUNNEL_TOKEN}
    environment:
      - CF_TUNNEL_TOKEN=${CF_TUNNEL_TOKEN}
    depends_on:
      - konnektoren-vc

  jaeger:
    image: jaegertracing/all-in-one:latest
    profiles:
      - jaeger
    #ports:
    #  - "14268:14268" # Jaeger compact thrift over HTTP
    #  - "16686:16686" # Jaeger UI
    environment:
      - COLLECTOR_OTLP_ENABLED=true

networks:
  default:
    name: konnektoren-network
    external: true
